<div class="payment-form">

  <div class="alert alert-primary" role="alert">
    Please insert payment details. Fields with astrick (*) are mandatory
  </div>
  
  <br/>


  <%= form_with(model: @card_datum, local: true,url:new_path) do |f| %>

  <div class="label">
  <%= f.label :cardNumber ,'Card Number(*):'%>
  </div>

  <div class="input">
  <%= f.text_field :cardNumber %>
  </div>

  <div class="label">
  <%= f.label :email,'Email(*):' %>
  </div>
  <div class="input">
  <%= f.email_field :email %>
  </div>

  <div class="label">
  <%= f.label :address,'Address(*):' %>
  </div>
  <div class="input">
  <%= f.text_field :address %>
  </div>

  <div class="label">
  <%= f.label :description,'Description:' %>
  </div>
  <div class="input">
  <%= f.text_field :description %>
  </div>

  <div class="submit">
  <% if @error %>
  <%= @message %>
  <% end %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>
</div>
